/*
    - COLORE GRIGETTO : #eaeaea
    - COLORE GRIGIO SCURO : #577383
    - COLORE AZZURINO : #9fd8f9
*/


/* ---------- IMPORT ---------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*
 * REGULAR : 400 [ >PER TUTTI I TESTI< ]
 *
 * LIGHT : 300 [ >PER TUTTI GLI ORARI< ]
 *
*/

/* ---------- GENERAL RULE ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(
        to bottom,
        #429388 0px,
        #429388 15vh,
        #dadbd6 0vh,
        #dadbd6 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------- Utility ------------ */

.header_background {
    background-color:  #eaeaea;
}

.green_message {
    background-color: #dcf8c0;
}

.white_message {
    background-color: #fff;
}

.margin_bottom_30px {
    margin: 0 0 30px 0;
}

.flex_end {
    display: flex;
    justify-content: flex-end;
}

.flex_start {
    display: flex;
    justify-content: start;
}

/* ---------- Applicazione ---------- */

.app {
    width: 80%;
    height: 90%;
    min-width: 900px;
    background-color: #fff;
    display: flex;
}

/* ---- App section left ---- */

.app-left {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header left */

img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.header-left {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
}

.header-left-action {
    display: flex;
    align-items: center;
}

.header-left-action i {
    color: #b1b1b1;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

/* Main left */

main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bell {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound-notification {
    display: flex;
    padding: 10px;
    background-color: #b4e4ff;
}

.notification-sound-text {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bell i {
    color: #b1b1b1;
}

.notification-sound-text p:first-child {
    font-size: 13px;
    font-weight: 700;
}

.notification-sound-text p:last-child {
    color: #577383;
    font-size: 10px;
    font-weight: 400;
    text-decoration: underline;
}

/* Search setion */

.search {
    background-color: #eaeaea;
    padding: 5px;
}

.search-box{
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    background-color: #fff;
}

.search input {
    font-size: 10px;
    color: #577383;
    border: none;
    flex-grow: 1;
}

.search i {
    color: #577383;
    font-size: 10px;
    padding: 5px 20px;
    background-color: #fff; 
    cursor: pointer;  
}

/* Chat section*/

.global-chat {
    overflow-y: scroll;
    height: 100%;
}

.chat {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: background .4s;
}

.info-chat {
    display: flex;
}

.chat-text {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-text span:first-child {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.chat-text span:last-child {
    color: #577383;
    font-size: 10px;
}

.chat span:last-child {
    color: #577383;
    font-size: 10px;
}

/* ---- App sectio right ---- */

.app-right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header right */

.header-rigth {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
}

.in-chat-text {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-right-action {
    display: flex;
    align-items: center;
}

.app-right img {
    height: 40px;
    width: 40px;
}

.header-right-action i {
    color: #b1b1b1;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.in-chat-text span:first-child {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.in-chat-text span:last-child {
    color: #577383;
    font-size: 10px;
}

/* Main Right */

.message {
    padding: 10px;
    max-width: max-content;
    border-radius: 10px;
}

.text-message {
    font-size: 13px;
    margin: 0 0 10px 0;
}

.time-message-position {
    display: flex;
    justify-content: flex-end;
}

.text-time-message-chat {
    font-size: 10px;

}

.app-right main {
    padding: 20px 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-image: url('../img/mine.jpg');
    background-position: center;
}

/* Footer Right */

.app-right footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 10px 5px;
    background-color: #eaeaea;
}

.app-right footer i {
    color: #577383;
    cursor: pointer;
}

.app-right footer input {
    height: 30px;
    width: 80%;
    padding: 0 10px;
    font-size: 10px;
    color: #577383;
    border: none;
    border-radius: 5px;
}

