/*
    - COLORE GRIGETTO : #eaeaea
    - COLORE GRIGIO SCURO : #577383
    - COLORE AZZURINO : #9fd8f9
*/


/* ---------- IMPORT ---------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/*
 * REGULAR : 400 [ >PER TUTTI I TESTI< ]
 *
 * LIGHT : 300 [ >PER TUTTI GLI ORARI< ]
 *
*/

/* ---------- GENERAL RULE ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(
        to bottom,
        #429388 0px,
        #429388 15vh,
        #dadbd6 0vh,
        #dadbd6 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------- Utility ------------ */

.header_background {
    background-color:  #eaeaea;
}

/* ---------- Applicazione ---------- */

.app {
    width: 80%;
    height: 90%;
    min-width: 900px;
    background-color: #fff;
}

/* ---- App section left ---- */

.app-left {
    width: 35%;
    height: 100%;
}

/* Header left */

img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.header-left {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
}

.header-left-action {
    display: flex;
    align-items: center;
}

.header-left-action i {
    color: #b1b1b1;
    padding: 0 8px 0 8px;
}

/* Main left */

.bell {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound-notification {
    display: flex;
    padding: 10px;
    background-color: #b4e4ff;
}

.notification-sound-text {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    background-color: #eaeaea;
    padding: 5px;
}

.search-box{
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    background-color: #fff;
}

.bell i {
    color: #b1b1b1;
}

.search input {
    font-size: 10px;
    color: #577383;
    border: none;
    flex-grow: 1;
}

.search i {
    color: #577383;
    font-size: 10px;
    padding: 5px 20px;
    background-color: #fff;   
}

.notification-sound-text p:first-child {
    font-size: 13px;
    font-weight: 700;
}

.notification-sound-text p:last-child {
    color: #577383;
    font-size: 10px;
    font-weight: 400;
    text-decoration: underline;
}

/* ---- App sectio right ---- */

.app-right {
    width: 65%;
    height: 100%;
}